:root {
	--mt_gap: 1rem;
	--mt_gap_small: 0.5rem;

	--mt_grey_dark: hsl(0, 0%, 25%);
	--mt_grey_mid: hsl(0, 0%, 50%);
	--mt_grey_light: hsl(0, 0%, 94%);

	--mt_dark: hsl(0, 0%, 15%);
	--mt_pale: hsl(0, 0%, 99%);

	--mt_transition: all 0.3s ease-in-out;

}

.mt_board {
	display: flex;
	width: 100%;
	overflow-y: auto;
	gap: var(--mt_gap);
	padding-bottom: var(--mt_gap);
	max-height: calc(100vh - 240px);
}


.mt_board button {
	border: 1px solid var(--mt_grey_dark);
	border-radius: 4px;
	cursor: pointer;
}

.mt_deck {
	min-width: 320px;
	max-width: 328px;
	max-height: 100%;
	overflow: auto;
	border: 1px solid var(--mt_grey_mid);
	background-color: var(--mt_grey_light);
	border-radius: 6px;
	padding: var(--mt_gap_small);
	display: flex;
	flex-direction: column;
	gap: var(--mt_gap_small);
}

.deck_header {
	display: flex;
}

.deck_title {
	border: 0;
	border-bottom: 1px solid var(--mt_grey_mid);
	background-color: transparent;
	font-weight: 700;
	flex: 1;
}

.deck_handle {
	min-width: 24px;
	display: inline-block;
	--svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32'%3E%3Cpath fill='%23000' d='m25 11l-1.41 1.41L26.17 15H17V5.83l2.59 2.58L21 7l-5-5l-5 5l1.41 1.41L15 5.83V15H5.83l2.58-2.59L7 11l-5 5l5 5l1.41-1.41L5.83 17H15v9.17l-2.59-2.58L11 25l5 5l5-5l-1.41-1.41L17 26.17V17h9.17l-2.58 2.59L25 21l5-5z'/%3E%3C/svg%3E");
	background-color: currentColor;
	background-size: 16px 16px;
	background-position: center;
	-webkit-mask-image: var(--svg);
	mask-image: var(--svg);
	-webkit-mask-repeat: no-repeat;
	mask-repeat: no-repeat;
	-webkit-mask-size: 100% 100%;
	mask-size: 100% 100%;
	cursor: grab;
}


.deck_handle:hover {
	color:red;
}

.mt_task {
	max-width: 320px;
	border: 1px solid var(--mt_grey_dark);
	background-color: var(--mt_pale);
	border-radius: 6px;
	padding: var(--mt_gap_small);
	border-radius: 4px;
}

.mt_task_content {
	font-size: 0.875rem;
	font-weight: 400;
}

.mt_task_content::first-line {
	font-size: 1rem;
	font-weight: 700;
}


.mt_edit_form {
	display: flex;
	flex-direction: column;
	gap: var(--mt_gap_small);
}

.mt_edit_form textarea {
	width: 100%;
	max-width: 320px;
	min-height: 4rem;
	height: fit-content;
	padding: 0.5rem;
	font-size: 1rem;
	line-height: 1.2;
	font-family: sans-serif;
}

.mtef_butts {
	display: flex;
	justify-content: end;
	gap: var(--mt_gap_small);
}

.mtef_new {
	border-top: 4px dotted var(--mt_grey_mid);
	padding-top: var(--mt_gap_small);
}

.mt_new_deck {
	width: 36px;
	min-width: 36px;
	height: 36px;
	display: flex;
	border: 4px solid var(--mt_grey_mid);
	align-items: start;
	justify-content: center;
	background-color: var(--mt_pale);
	color: var(--mt_grey_mid);
	font-weight: 800;
	font-size: 26px;
	line-height: 1;
	border-radius: 6px;
	cursor: pointer;
}

.mt_new_deck:hover {
	background-color: var(--mt_dark);
	transition: var(--transition);
}